p{
  font-family: Roboto,Arial , sans-serif;
  margin-top: 0%;
  margin-bottom: 0%;
}
body{
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 118px;
  margin: 0%;
  padding-right: 30px;
}
a{
  color: inherit;
  text-decoration: inherit;
}